$background-color1: hsl(65, 77%, 49%);
$background-color2: hsl(65, 82%, 13%);
$background-color3: hsl(64, 77%, 93%);
$background-color4: hsl(360, 0%, 94%);
$color: white;
$color-border-card: black;
$color-border-li: hsl(63, 27%, 87%);