// reset
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
// tanto el reset como las variables se podrian importar desde otro archivo scss utilizando @import o use.
$color-base: hsl(0,  100%,50%);
$color-base1: hsl(240,100%,50%);
$color-base2: hsl(120,100%,40%);
$color-letters: white;


.container {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

.box {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100vh;
    height: 7em;
    font-size: 1.5em;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-1 {

    .base-color {
        background-color: $color-base;
        width: 130vh;
        
    }
    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($color-base, 5 * $i);
        }
    }
    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten($color-base, 5 * $i);
        }
    }
    .color-text-base {
        color: $color-letters;
    }
    @for $i from 1 through 4 {
        .color-text-darken-#{$i} {
            color: darken($color-letters, 5 * $i);
        }
    }
    @for $i from 1 through 4 {
        .color-text-lighten-#{$i} {
            color: darken($color-letters, 5 * $i);
        }
    }
}

.container-2 {

    .base-color {
        background-color: $color-base1;
        width: 130vh;
    }
    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($color-base1, 5 * $i);
        }
    }
    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten($color-base1, 5 * $i);
        }
    }
    .color-text-base {
        color: $color-letters;
    }
    @for $i from 1 through 4 {
        .color-text-darken-#{$i} {
            color: darken($color-letters, 5 * $i);
        }
    }
    @for $i from 1 through 4 {
        .color-text-lighten-#{$i} {
            color: darken($color-letters, 5 * $i);
        }
    }
}

.container-3 {

    .base-color {
        background-color: $color-base2;
        width: 130vh;
    }
    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($color-base2, 5 * $i);
        }
    }
    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten($color-base2, 5 * $i);
        }
    }
    .color-text-base {
        color: $color-letters;
    }
    @for $i from 1 through 4 {
        .color-text-darken-#{$i} {
            color: darken($color-letters, 5 * $i);
        }
    }
    @for $i from 1 through 4 {
        .color-text-lighten-#{$i} {
            color: darken($color-letters, 5 * $i);
        }
    }
}